body{
	font-family: Helvetica, sans-serif;
}

header{
	margin: 0px;
	color: white;
	background-color: black;
}

.btn.btn-primary{
	text-align: right;
	background-color: black;
	margin-top:20px;
	border: 0px;
}

.btn.btn-primary:hover{
	background-color: white;
	color: black;
}


.main{
	
}