body{
	font-family: Helvetica, sans-serif;
}

header{
	height: 56px;
	margin: 0px;
	color: white;
	background-color: black;
}

.btn-nav{
	display: inline;	
}
i{
	
}

.btn-link li{
	color: white;
	list-style-type: none;
	float: right;
	background-color: black;
}

a{
	text-decoration: none;
	background-color: black;
	display: block;
	padding: 8px;
	border-radius: 0;
	color: white;

}

li a{
	color: white;
}

li a:hover{
	background-color: green;
	color: white;
}

.main{
	color: white;
}
.menu{
	left: -285px;
	top:56px;
	position: fixed;
	height: 100%;
	width: 285px;
	background-color: black;
	margin-left: 0px;
}
.menu li{
	list-style-type: none;
}

#jum-trip{
	background-image: url('Alma.jpg');
	background-size: cover;
	height: auto;
	min-height: 100%
}

.jumbotron{

}